cxfSchemaValidation/src/main/resources/wsdl/greeting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GreetingService" targetNamespace="http://ws.samples.redhat.com/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.samples.redhat.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.samples.redhat.com/" version="1.0"
            xmlns:tns="http://ws.samples.redhat.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="goodbye" type="tns:goodbye" />
            <xs:element name="goodbyeResponse" type="tns:goodbyeResponse" />
            <xs:element name="hello" type="tns:hello" />
            <xs:element name="helloResponse" type="tns:helloResponse" />
            <xs:complexType name="goodbye">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" fixed="FIXED"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="goodbyeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="hello">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" fixed="FIXED" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="helloResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="hello">
        <wsdl:part element="tns:hello" name="parameters" />
    </wsdl:message>
    <wsdl:message name="goodbyeResponse">
        <wsdl:part element="tns:goodbyeResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part element="tns:helloResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="goodbye">
        <wsdl:part element="tns:goodbye" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="GreetingService">
        <wsdl:operation name="goodbye">
            <wsdl:input message="tns:goodbye" name="goodbye" />
            <wsdl:output message="tns:goodbyeResponse" name="goodbyeResponse" />
        </wsdl:operation>
        <wsdl:operation name="hello">
            <wsdl:input message="tns:hello" name="hello" />
            <wsdl:output message="tns:helloResponse" name="helloResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetingServiceSoapBinding" type="tns:GreetingService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="goodbye">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="goodbye">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="goodbyeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hello">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="hello">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="helloResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetingService">
        <wsdl:port binding="tns:GreetingServiceSoapBinding" name="GreetingServicePort">
            <soap:address location="http://localhost:8080/sample/greeting" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>